<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cetc.pacong.dao.BatchRecordDao">
    <resultMap id="dataSourceMap" type="com.cetc.pacong.domain.BatchRecord">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="batch_lot_num" column="batch_lot_num" jdbcType="VARCHAR"/>
        <result property="data_source_id" column="data_source_id" jdbcType="INTEGER"/>
        <result property="data_get_time" column="data_get_time" jdbcType="TIMESTAMP"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="step" column="step" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="last_batch" column="last_batch" jdbcType="VARCHAR"/>
        <result property="status_cd" column="status_cd" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="findByNum" resultMap="dataSourceMap">
    select  id, batch_lot_num, data_source_id, data_get_time, amount, step, amount,
    last_batch, status_cd
     from pa_batch_record where batch_lot_num=#{batch_lot_num};
  </select>
    <insert id="addItem" parameterType="com.cetc.pacong.domain.BatchRecord">
    insert into pa_batch_record
    (
   batch_lot_num, data_source_id, data_get_time, amount, step, amount,
    last_batch, status_cd
    )values
    (#{batch_lot_num}, #{data_source_id}, #{data_get_time}, #{amount}, #{step},#{amount}, #{last_batch},#{status_cd}
    )
    </insert>
    <update id="update" parameterType="com.cetc.pacong.domain.BatchRecord">
update pa_batch_record set amount =#{amount} where batch_lot_num =#{batch_lot_num}
    </update>
</mapper>
